@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400);


body {
	background-color: #141318;
}

.couplesname,
.couplesnameoverlay {
	top: 6%;
  left: 25%;
	font-size: 80px;
	color: #343438;
  position: absolute;
	width: 50%;
  text-align: center;
 	border: 1px solid #343438;
 	background-color: #ffffff ;
 	opacity: 0.9;
  border-radius: 3px;
}

.couplesnameoverlay {
	opacity: 1;
	background-color: transparent;
}

.thankyou {
	font-size: 80px;
	color: #111;
	width: 650px;
  text-align: center;
	margin: 0 auto;
	margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  background-color: #f8f8f8;
}

.quote {
	font-size: 50px;
	color: #f8f8f8;
	width: 100%;
	text-align: center;
	padding: 50px 0px;
}

.image {
  border: 20px solid #f8f8f8;
}

.img1{
  background-image:url('http://i.imgur.com/0aaJyAs.jpg');
  padding-bottom: 41%;
  background-repeat: no-repeat;
  margin: 0px auto;
  width: 970px;
  background-size: 100%;
}	


.img2{
  border-top: 10px;
  background-image:url('http://i.imgur.com/egBaMUK.jpg');
  height: 0;
  width: 970px;
  background-size: 100%;
  padding-bottom: 50.5%;
  margin: 0px auto;
  background-repeat: no-repeat;

}	

.img3{
  background-image:url('http://i.imgur.com/Teh3wrN.jpg');
  height: 0;
  padding-bottom: 41.5%;
  background-repeat: no-repeat;
  margin: 0px auto;
  width: 970px;
  background-size: 100%;
}	

.img4{
  border-top: 10px;
  background-image:url('http://i.imgur.com/ja5gKQL.jpg');
  height: 0;
  margin: 0px auto;
  width: 970px;
  background-size: 100%;
  padding-bottom: 50.5%;
  background-repeat: no-repeat;
}	

.img5{
  background-image:url('http://i.imgur.com/kxAu3px.jpg');
  height: 0;
  padding-bottom: 40%;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0px auto;
  width: 970px;
}

.content-wrapper .paragraph {
	margin: 0 auto;
	width: 970px;
}

.paragraph {
	font-family: "Open Sans", Helvetica,Arial,sans-serif;
	background-color: #f8f8f8;
  padding: 50px 50px 50px 50px;
  font-size: 20px;
  text-align: justify;	
}

#share-buttons img{
  width: 35px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
}

.footer {
  margin: 0 auto;
  color: #f8f8f8;
  text-align: center;

}

/* Small devices (tablets, 768px and up) */
@media screen and (max-width: 1300px) {
    .img1,
    .img2,
    .img3,
    .img4,
    .img5 {
    	background-size: 100%;
    	background-repeat: no-repeat;
    }
}

@media screen and (max-width: 1200px) {
    .img1,
    .img2,
    .img3,
    .img4,
    .img5 {
      width: 100%;
    }

    .content-wrapper .paragraph{
      width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .couplesname,
    .couplesnameoverlay{
      font-size: 50px;
    }
}

@media screen and (max-width: 650px) {
    .couplesname,
    .couplesnameoverlay{
      font-size: 30px;
    }
    .quote {
      font-size: 40px;
      width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .thankyou {
      font-size: 50px;
      width: 100%;
    }
    
    .paragraph {
      font-size: 16px;
    }
}

@media screen and (max-width: 370px) {
    .couplesname,
    .couplesnameoverlay{
      font-size: 20px;
    }
    .thankyou {
      font-size: 30px;
      width: 100%;
    }
}
